.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.social-media-links {
    margin-top: 1%;
    margin-left: 48%
}
.socialmedia-fb {
    height: 30px;
    width: 30px;
    padding-right: 2px;
}
.socialmedia-tw {
    height: 30px;
    width: 30px;
    padding-left: 2px;
}